body {
  margin: 0px;
  padding: 2px 0px;
  box-sizing: border-box;
}

/* main {
  padding: 16px
} */

footer {
  padding: 12px 0px;
  background-color: rgba(100, 188, 38, 0.61);
}

img {
  height: 200px;
  margin-bottom: 0px;
}

nav {
  padding: 16px 0px;
  border-bottom-color: 1px rgba(218, 51, 1, 0.758);
  background-color: rgba(218, 51, 1, 0.758);
  color: white;
}

/* li {
  margin-bottom: .5rem;
} */

div {
  display: inline-grid;
  grid-template-columns: auto;
  column-gap: 50px;
  margin: 47px;
}

h1 {
  color: teal
}

a {
  color: rgb(41, 187, 41)
}

nav > a {
  color: white
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}
